<footer class="container" style="margin-top: 50px; text-align: center; color: #aaa; font-size: 14px;">
  <div style="display: inline-block; text-align: left;">
    <p style="margin: 0;">
      Design:
      <a href="https://qiaozhezhang.bestlab.top/" target="_blank" style="color: #777; font-size: 14px;">
        Qiaozhe Zhang
      </a>.
    </p>
    <p style="margin: 0; margin-top: 0px;">
      Last updated:
      <script>
        document.write(new Date(document.lastModified).toLocaleDateString());
      </script>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span id="busuanzi_container_site_uv">
        Visitors: <span id="busuanzi_value_site_uv"></span>
      </span>
      &nbsp;|&nbsp;
      <span id="busuanzi_container_site_pv">
        Views: <span id="busuanzi_value_site_pv"></span>
      </span>
      <span>(2025/6/15~)</span>
    </p>
  </div>
</footer>

<script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
